.admin {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  background-color: rgb(250, 250, 251);
  align-items: center;
}

.admin-box {
  text-align: center;
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  margin-top: 2rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
}

.user-page-title {
  margin-top: 1rem;
  font-size: 20px;
}

.registered-user {
  display: flex;
  margin-bottom: 0.8rem;
}

.user-list-admin {
  margin-left: 1rem;
  display: flex;
  justify-content: left;
}

.user-reg-btn {
  height: 1.5rem;
  width: 3.5rem;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  color: white;
  position: absolute;
}

.user-reg-btn:active {
  background-color: rgb(0, 0, 255);
}

.email-reg {
  margin-left: 4rem;
}

.hr-reg {
  width: 20rem;
}
