.change-password {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(250, 250, 251);
  align-items: center;
}

.change-password-title {
  margin-top: 2rem;
  font-size: 2rem;
}

.change-password-box {
  margin-top: 4rem;
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
}

.change-password-fieldset {
  border-style: none;
}

.innerPasswordBox {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.change-password-input {
  font-size: 20px;
  font-family: caption;
  height: 2rem;
  width: 20rem;
  background-color: white;
  margin-bottom: 1rem;
  border-style: solid;
  border-color: rgb(183, 187, 190);
  border-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.change-password-input::placeholder {
  text-align: center;
  font-size: 25px;
  opacity: 0.4;
  color: gray;
}

.change-password:focus::placeholder {
  color: transparent;
}

.change-password:focus {
  outline-width: 0;
}

.change-error {
  margin: 0;
  font-size: 16px;
}

.change-password {
  text-align: center;
  font-size: 25px;
}

.change-pass-button {
  margin-top: 8rem;
  height: 3rem;
  width: 20rem;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  position: absolute;
}

.change-password-button-text,
.login-button-text {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

.change-pass-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-text {
  line-height: 0.3rem;
  color: white;
  font-size: 20px;
  font-family: caption;
}
