.goals {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(250, 250, 251);
  align-items: center;
  /*position: fixed;*/
}

.current-goal-form-box {
  display: flex;
  flex-direction: column;
}

.no-plan-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.current-goal-buttons {
  display: flex;
  flex-direction: row;
}

.workout-button-curr {
  background-color: rgba(250, 109, 10, 0.9);
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 16rem;
  margin: 1.2rem;
  margin-bottom: 0;
  border-style: solid;
  border-width: 4px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  cursor: pointer;
}

.workout-button-curr:hover {
  border-width: 5px;
  border-color: green;
}

.workout-button-curr:active {
  background-color: rgb(235, 98, 0);
}

.workout-box-curr-ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.workout-ul-container {
  padding: 0;
  list-style-type: none;
}

.exercise-ul-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style-type: none;
}

.exercise-box-li:hover {
  border-color: green;
}

.exercise-box-curr {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise-li-container {
  margin: 1rem;
  background-color: rgba(250, 109, 10, 0.9);
  border-radius: 5px;
  height: 23.8rem;
  width: 16rem;
  margin: 1rem;
  margin-top: 0;
  border-style: solid;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.exercise-li {
  display: flex;
  flex-direction: column;
  background-color: rgb(211, 211, 211);
  border: solid;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.workout-name-curr {
  padding: 0;
}
