.login {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(250, 250, 251);
  align-items: center;
  justify-content: center;
}

.login-input[type="password"] {
  font-family: caption;
}

.login-title {
  margin: 0;
  font-size: 6rem;
  font-family: "Brush Script MT", cursive;
  font-weight: 100;
  margin-bottom: 2rem;
}

.login-text {
  font-size: 20px;
  margin-bottom: 0;
}

.register-link {
  color: rgb(0, 0, 255);
  text-decoration: none;
}

.login-error {
  margin: 0;
}

.login-box {
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
}

.login-fieldset {
  border-style: none;
}

.innerLoginBox {
  display: flex;
  flex-direction: column;
}

.login-input,
.password-input {
  font-size: 20px;
  font-family: caption;
  height: 2rem;
  width: 20rem;
  background-color: white;
  margin-bottom: 1rem;
  border-style: solid;
  border-color: rgb(183, 187, 190);
  border-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.login-input::placeholder,
.password-input::placeholder {
  text-align: center;
  font-size: 20px;
  opacity: 0.4;
  color: gray;
}

input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline-width: 0;
}

input {
  text-align: center;
  font-size: 25px;
}

.login-button {
  height: 3rem;
  width: 20rem;
  border-radius: 5px;
  border-style: none;
  margin: auto;
  margin-top: 4rem;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  position: absolute;
}

.error-container {
  height: 1.5rem;
  margin-bottom: 1rem;
}

.login-button:active {
  background-color: rgb(0, 0, 255);
}

.button-text {
  line-height: 0.3rem;
  color: white;
  font-size: 20px;
  font-family: caption;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
