.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  height: 100vh;
  padding: 0;
  background-color: rgb(250, 250, 251);
}

.user-info-container,
.program-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-top: 1.1rem;
}

.user-info-container {
  margin-left: 16rem;
}

.user-info-list {
  list-style: none;
  padding: 0;
}

.info-box {
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
}

.profile-fieldset {
  border-style: none;
}

.user-info-title-container {
  width: 25rem;
  text-align: center;
  height: 2.3rem;
}

.user-history-title-container {
  width: 25rem;
  text-align: center;
  height: 2rem;
}

.user-info-title {
  font-size: 20px;
}

li {
  display: inline-block;
  justify-content: space-around;
}

.program-history-container {
  margin-right: 16rem;
}

.user-info-list-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-info-list-item-input {
  font-family: caption;
  background-color: white;
  width: 21rem;
  margin-top: 0.4rem;
  height: 1.7rem;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
  border-style: solid;
  border-color: rgb(183, 187, 190);
  border-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.user-info-list-item-input::placeholder {
  color: rgb(0, 0, 0, 0.5);
}

.profile-info-text {
  margin-left: 1rem;
}

.program-history-header {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 6.5rem;
  justify-content: center;
  text-align: center;
  display: flex;
}

.program-history-box {
  display: flex;
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
}

.list-item-box {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 20rem;
  height: auto;
  align-items: flex-start;
}

.history-box {
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
}

.program-history-list {
  margin-top: 2rem;
}

.innerHistoryBox {
  margin-top: 1rem;
}

.user-info-list-item-input {
  line-height: 1.6rem;
}

.user-info-footer {
  display: flex;
}

.contributor-request-button,
.change-password-button,
.update-profile-button {
  margin-top: 0.5rem;
  width: 6.2rem;
  height: 2.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: caption;
  border-style: none;
  background-color: rgb(0, 123, 255);
  color: white;
}

.contributor-request-button:active {
  background-color: rgb(0, 0, 255);
}

.change-password-button:active {
  background-color: rgb(0, 0, 255);
}

.update-profile-button:active {
  background-color: rgb(0, 0, 255);
}

.contributor-request-button {
  margin-left: 1rem;
}

.update-profile-button {
  margin-right: 1rem;
}

.user-info-header {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 6.5rem;
  display: flex;
}

.first-name,
.last-name,
.role-name {
  margin: 0;
  text-align: right;
}

.role-name {
  color: gray;
  font-style: italic;
  font-weight: 600;
}
