.programs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 94vh;
  background-color: rgb(250, 250, 251);
}

.select-program {
  margin-top: 2rem;
  background-color: rgb(0, 123, 255);
  color: white;
  width: 25rem;
  height: 2rem;
  text-align: center;
  font-family: caption;
  font-size: 20px;
  border-radius: 5px;
}

.select-program:focus {
  outline-width: 0;
}

.program-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

.workout-box {
  margin-top: 1rem;
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrk-ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 30rem;
  width: 24rem;
  padding: 0;
  list-style-type: none;
}

.wrk-li {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(211, 211, 211);
  border: solid;
  width: 20rem;
  height: 8.5rem;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  justify-content: center;
  padding: 0;
  list-style-type: none;
}

.wrk-name {
  font-family: caption;
  text-align: center;
}

.descr-name {
  font-family: caption;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

.workout-container {
  height: 30rem;
  width: 24rem;
}

.selectButton-box {
  width: 25rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  height: 2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.selectButton-button {
  align-items: center;
  width: 25rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: caption;
  border-style: none;
  background-color: rgb(0, 123, 255);
  color: white;
}

.selectButton-button:active {
  background-color: rgb(0, 0, 255);
}
