.register {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(250, 250, 251);
  align-items: center;
  justify-content: center;
}

.register-title {
  margin: 0;
  font-size: 6rem;
  font-family: "Brush Script MT", cursive;
  font-weight: 100;
}

.register-text {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.register-box {
  background-color: rgba(250, 109, 10, 0.9);
  height: 31rem;
  width: 25rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
}

.register-fieldset {
  border-style: none;
}

.innerRegisterBox {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.register-input,
.password-input {
  font-size: 20px;
  font-family: caption;
  height: 2rem;
  width: 20rem;
  background-color: white;
  margin-bottom: 1rem;
  border-style: solid;
  border-color: rgb(183, 187, 190);
  border-bottom: 5px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.register-input::placeholder {
  text-align: center;
  font-size: 20px;
  opacity: 0.4;
  color: gray;
}

.register:focus::placeholder {
  color: transparent;
}

.register:focus {
  outline-width: 0;
}

.register {
  text-align: center;
  font-size: 25px;
}

.register-button {
  height: 3rem;
  width: 20rem;
  border-radius: 5px;
  border-style: none;
  margin: auto;
  margin-top: 7rem;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  position: absolute;
}

.reg-button:active {
  background-color: rgb(0, 0, 255);
}

.back-button:active {
  background-color: rgb(0, 0, 255);
}

.error-container-reg {
  height: 1.5rem;
  margin-bottom: 2rem;
}

.register-error {
  margin: 0;
  font-size: 16px;
}

.button-text {
  line-height: 0.3rem;
  color: white;
  font-size: 20px;
  font-family: caption;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button,
.reg-button {
  height: 3rem;
  width: 9.5rem;
  border-radius: 5px;
  border-style: none;
  margin-top: 0;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
}

.back-button {
  margin-right: 0.5rem;
}

.reg-button {
  margin-left: 0.5rem;
}
