.workouts-left-box {
    text-align: center;
    display: flex;
    font-family: Caption;
    font-weight: 500;
    height: 15rem;
    width: 20rem;
    background-color: black;
    border-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  
.workouts-left-text {
    color: white;
    font-family: caption;
  }
  
  .workouts-left-text-upper {
    margin-top: 0.5rem;
    font-size: 20px;
  }
  
  .workouts-left-text-mid {
    display: flex;
    font-family: Caption;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6.2rem;
    margin-top: 0.5rem;
    font-size: 5rem;
  }
  
  .workouts-left-text-lower {
    font-family: Caption;
    margin-top: 0.5rem;
    font-size: 18px;
  }
  