.day {
  background-color: black;
  text-align: center;
  padding: 4rem;
  width: 12rem;
  border-radius: 5px;
  margin-right: 2rem;
  box-shadow: 0 0 10px black;
}

.day-out {
  margin-top: 5rem;
  font-size: 5rem;
}

.dash-title {
  margin-top: 0;
  font-family: Caption;
  font-weight: 600;
}

.year-out {
  margin-top: 5.5rem;
}

.outer-page {
  text-align: center;
}

.select-goal-dash {
  margin-top: 5.3rem;
  font-size: 20px;
  font-family: caption;
  color: white;
}

.outer-container {
  background-color: rgba(250, 109, 10, 0.9);
  margin-top: 2.5rem;
  height: 31.1rem;
  width: 60rem;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}
.day ul {
  margin: 0;
  padding: 0;
}

.day ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
ul {
  list-style-type: none;
}
.goal-container {
  background-color: rgb(211, 211, 211);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 28rem;
  width: 30rem;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 2rem;
  box-shadow: 0 0 10px black;
}

.goal-of-the-day {
  display: flex;
  flex-direction: column;
  height: 3.7rem;
  text-align: center;
}
.small-font {
  font-size: 8px;
}

.create-goal-button {
  width: 20rem;
  height: 2.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border-style: none;
  background-color: rgb(0, 123, 255);
  color: white;
  position: absolute;
  font-size: 20px;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-goal-button:active {
  background-color: rgb(0, 0, 255);
}

.btn-container {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.program-name {
  display: flex;
  justify-content: center;
  height: 3.5rem;
}

.plan-descr-text {
  font-style: italic;
  font-weight: 500;
}

.workouts-left-box {
  text-align: center;
  display: flex;
  font-weight: 500;
  height: 15rem;
  width: 20rem;
  background-color: black;
  border-style: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.workouts-left-text {
  color: white;
  font-family: caption;
}

.workouts-left-text-upper {
  margin-top: 0rem;
  font-size: 20px;
}

.workouts-left-text-mid {
  display: flex;
  font-family: Caption;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6.2rem;
  margin-top: 0.5rem;
  font-size: 5rem;
}

.workouts-left-text-lower {
  font-family: Caption;
  margin-top: 0.5rem;
  font-size: 18px;
}
