nav {
  height: 5rem;
  color: rgb(252, 252, 252);
  background-color: rgba(250, 109, 10, 1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.5em;
  z-index: 100;
}

.icon-size {
  scale: 2.5;
}

.v-center {
  display: flex;
}

.nav-profile-related {
  padding: 0.5em 2em;
  border-radius: 10px;
  background-color: var(--clr-secondary-dark);
}

.profile-title {
  margin: 0;
  font-size: 6rem;
  font-family: "Brush Script MT", cursive;
  font-weight: 100;
  margin-bottom: 2rem;
}

.nav-button {
  margin: auto;
  height: 5rem;
  width: 6rem;
  border-style: none;
  background-color: rgba(250, 109, 10, 1);
  cursor: pointer;
}

.profile-title {
  font-size: 4rem;
  color: black;
}

.nav-bar-btn-txt {
  font-family: caption;
  font-size: 25px;
}
